################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
*.zip
*.7z
*.lnk
*.csv
*.xlsx
*.exe
*.pdb
/MiotoServer/bin/
/MiotoServer/Installer/
/MiotoServerCui/bin/
/MiotoServerCuiMono/bin/
/CalcHelper/bin/
/CalcHelper/Installer/
/GoogleCloud_TTS/bin/
/packages/
/TestResults/
/TwePacketTest/
/MiotoBlazorClient/bin/
/MiotoBlazorClient/obj/
/KmeansTool/bin/
