@page "/"
@inject NavigationManager NavMgr

<h3>表示パネル情報一覧</h3>
<table class="table">
    <thead>
        <tr>
            <th>パネル名称</th>
            <th>子機数</th>
            <th>操作</th>
        </tr>
    </thead>
    @if ((config == null) || (config.listCtPanel2Index.Count == 0))
    {
        <tbody>
            <tr>
                <td>
                    @if (config == null)
                    {
                        <span>設定情報の取得中・・・</span>
                    }
                    else
                    {
                        <span>表示パネル設定のがありません</span>
                    }
                </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var panel in config.listCtPanel2Index)
            {
                <tr>
                    <td>@(panel.panel.name)</td>
                    <td>@(panel.panel.listMac2Index.Count)台</td>
                    <td>
                        <a class="btn btn-primary" href="andon/@(panel.index)/@(Uri.EscapeUriString(panel.panel.name))/">
                            表示
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

<p>@debugMsg</p>

@code{

    private Config config { get; set; } = null;
    private string debugMsg = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await ConfigSingleton.getInstance().getConsigAsync(NavMgr, c =>
        {
            config = c;
        });
    }


    private void t(string msg)
    {
        debugMsg += $"{msg} {DateTime.Now.ToLongTimeString()} //";
    }

}